* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero2 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.content {
  text-align: center;
  margin-top: 50px;

}

.content h1 {
  font-size: 90px;
  color: rgb(248, 245, 245);
  font-weight: 800;
  transition: 0.5s;
  backdrop-filter: blur(10px);

}

.content h1:hover {
  -webkit-text-stroke: 3px rgb(250, 244, 244);
  color: transparent;
}

.content button {
  text-decoration: none;
  display: inline-block;
  color: rgb(11, 10, 10);
  font-style: italic !important;
  font-size: 24px;
  border: 2px solid rgb(22, 21, 21);
  padding: 20px 70px;
  border-radius: 50px;
  margin: 20px;
  margin-top: 20px;
  cursor: pointer;
  border: 5px solid rgb(239, 54, 54);
}

.content button:hover {
  background-color: rgb(21, 20, 20);
  color: white;

}

.bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .bgvideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bgvideo {
    width: auto;
    height: 100%;
  }
}

.hey{
  display: flex;
  justify-items: center;
  align-items: center;
}

.container h1 {
  font-size: 80px;
  color: rgb(245, 8, 8);
  font-weight: 800;
  transition: 0.5s;
  font-style: italic;
  align-items: center;
  justify-content: center;
  padding-left: 120px;
  padding-right: 100px;
}

.container {
  display: flex;
  background-image: url('page4.png');
  /* Replace 'ruled_paper.jpg' with your ruled paper background */
  background-size: cover;
  background-color: black;
  background-position: center;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0px 50px;
  box-sizing: border-box;
  overflow: none;
}

.date-display {
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

#datepicker {
  margin-left: 65px;
  padding: 10px;
  appearance: none;
  border: 1px solid #ccc;
  font-size: 23px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  width: 200px;
  background-color: wheat;
  border: 2px solid black;
}


h1{
  font-weight: 600px;
}




.diary-input {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 50px 104px 74px 100px;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.button button{
  border-radius: 50px;
  background-color: rgb(239, 20, 20);
  color: rgb(0, 0, 0);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  margin-top: 20px;
  margin-left: 400px;
  font-weight: bolder;
}

.button :hover{
  cursor: pointer;
  background-color: rgb(255, 246, 246);
  color:rgb(9, 9, 9);
  font-style: italic;

}